<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/extensions.css">
    <title>확장자 관리</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>파일 확장자 차단</h1>

<h2>고정 확장자</h2>
<ul>
    <li th:each="extension : ${fixedExtensions}">
        <input type="checkbox" class="fixed-extension-checkbox" th:id="${'extension-' + extension.id}"
               th:checked="${extension.isBlocked}" th:data-extension-id="${extension.id}">
        <span th:text="${extension.name}"></span>
    </li>
</ul>

<h2>커스텀 확장자</h2>
<form id="add-extension-form" method="post" th:action="@{/custom-extensions}">
    <input type="text" name="name" placeholder="확장자 입력">
    <button type="submit">추가</button>
</form>
<ul class="custom-extensions">
    <li class="custom-extension" th:each="extension : ${customExtensions}">
        <span th:text="${extension.name}"></span>
        <a href="#" class="remove-extension-link" th:data-extension-id="${extension.id}">X</a>
    </li>
</ul>

<a href="/">>홈으로<</a>

<script>
    $(document).ready(function () {
        $(".fixed-extension-checkbox").change(function () {
            var isChecked = $(this).is(":checked");
            var extensionName = $(this).parent().find("span").text();
            var checkbox = $(this);
            if (isChecked) {
                $.ajax({
                    url: "/check-extension/" + extensionName,
                    type: "get",
                    success: function (response) {
                        if (response.hasUploadedFile) {
                            if (confirm("해당 확장자는 이미 업로드되어있는 확장자입니다. 업로드 된 파일을 삭제하고 확장자를 차단하시겠습니까?")) {
                                $.ajax({
                                    url: "/block-and-delete/" + extensionName,
                                    type: "post",
                                    success: function () {
                                        alert("해당 확장자가 차단되었습니다.");
                                        location.reload();
                                    },
                                    error: function () {
                                        alert("차단 실패");
                                    }
                                });
                            } else {
                                checkbox.prop("checked", false);
                            }
                        } else {
                            var extensionId = checkbox.data("extension-id");
                            $.ajax({
                                url: "/fixed-extensions/" + extensionId + "/block-unblock",
                                type: "post",
                                data: {isBlocked: isChecked}
                            });
                        }
                    },
                    error: function () {
                        alert("확장자 확인 실패");
                    }
                });
            } else {
                var extensionId = checkbox.data("extension-id");
                $.ajax({
                    url: "/fixed-extensions/" + extensionId + "/block-unblock",
                    type: "post",
                    data: {isBlocked: isChecked}
                });
            }
        });

        $(".remove-extension-link").click(function (e) {
            e.preventDefault();
            var extensionId = $(this).data("extension-id");
            $.ajax({
                url: "/custom-extensions/" + extensionId + "/remove",
                type: "post",
                success: function () {
                    alert("확장자 차단이 해제되었습니다.");
                    location.reload();
                },
                error: function () {
                    alert("확장자 삭제 실패");
                }
            });
        });

        $("#add-extension-form").submit(function (e) {
            e.preventDefault();
            var name = $(this).find("input[name='name']").val();
            $.ajax({
                url: "/check-extension/" + name,
                type: "get",
                success: function (response) {
                    if (response.hasUploadedFile) {
                        if (confirm("해당 확장자는 이미 업로드되어있는 확장자입니다. 업로드 된 파일을 삭제하고 확장자를 차단하시겠습니까?")) {
                            $.ajax({
                                url: "/block-and-delete/" + name,
                                type: "post",
                                success: function () {
                                    alert("해당 확장자가 차단되었습니다.");
                                    location.reload();
                                },
                                error: function () {
                                    alert("차단 실패");
                                }
                            });
                        }
                    } else {
                        $.ajax({
                            url: "/custom-extensions",
                            type: "post",
                            data: {name: name},
                            success: function () {
                                alert("해당 확장자가 차단되었습니다.");
                                location.reload();
                            },
                            error: function () {
                                alert("이미 차단된 확장자입니다.");
                            }
                        });
                    }
                },
                error: function () {
                    alert("확장자 확인 실패");
                }
            });
        });
    });
</script>
</body>
</html>
